@import "~@/assets/vars.scss";
aside {
  @media (max-width: 767px) {
    display: none;
  }

  box-sizing: border-box;
  flex: 0 0 20%;
  width: 20%;
  height: calc(100vh - 72px);
  background-color: $aside-background-color;
  border-right: 1px solid $aside-border-color;

  @media (min-width: 992px) {
    flex: 0 0 15%;
    width: 15%;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-items: end;
    height: calc(100vh - 152px);

    a {
      margin: 0 0 20px 40px;
      text-align: left;
      font-size: 20px;
      color: $text-color;

      @media (min-width: 992px) {
        margin: 0 0 20px 25%;
      }

      &:first-of-type {
        margin-top: 101px;
      }

      &:after {
        content: '';
        display: block;
        margin-top: 5px;
        border-bottom: 3px solid $aside-background-color;
        width: 100%;
      }

      &.router-link-active {
        color: $dark-primary-color;
      }

      &.router-link-active:after {
        content: '';
        display: block;
        margin-top: 5px;
        border-bottom: 3px solid $accent-color;
        width: 100%;
      }
    }
  }

  .social_links {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin: 12px;
      flex: 0 0 24px;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center center;

      svg {
        fill: $social-icon-color;
        -webkit-transition: fill .5s ease-in-out;
        -moz-transition: fill .5s ease-in-out;
        -o-transition: fill .5s ease-in-out;
        -ms-transition: fill .5s ease-in-out;
        transition: fill .5s ease-in-out;
      }

      &:hover {
        svg {
          fill: $social-icon-color-hover;
          -webkit-transition: fill .5s ease-in-out;
          -moz-transition: fill .5s ease-in-out;
          -o-transition: fill .5s ease-in-out;
          -ms-transition: fill .5s ease-in-out;
          transition: fill .5s ease-in-out;
        }
      }
    }
  }
}
