@import "~@/assets/vars.scss";
body#about {
  main {
    display: flex;

    div#page {
      @media (min-width: 768px) {
        height: calc(100vh - 72px);
        overflow-y: scroll;
      }

      section {
        margin: 40px 10px;
        font-size: 16px;
        color: $text-color;

        @media (min-width: 375px) {
          margin: 40px 20px;
        }

        @media (max-width: 991px) {
          br {
            display: none;
          }
        }

        @media (min-width: 768px) {
          margin: 80px 40px;
        }

        @media (min-width: 1200px) {
          margin: 80px 120px;

          &:nth-of-type(2), &:nth-of-type(3) {
            border-top: 1px solid $gray-color;
            padding-top: 80px;
          }

          &:nth-of-type(4) {
            border-top: 1px solid $gray-color;
            margin: 0 0 40px;
            padding-top: 40px;

            ul {
              margin: 0 120px;
            }
          }
        }

        h2 {
          margin: 0;
          padding: 0;
          color: $dark-primary-color;
          font-size: 28px;
          font-weight: 400;

          @media (min-width: 768px) {
            font-size: 32px;
          }

          &:after {
            content: '';
            display: block;
            margin-top: 10px;
            width: 60px;
            border-bottom: 3px solid $accent-color;
          }
        }

        a {
          color: $text-color;
        }

        ul {
          margin: 1em 0;
          padding: 0;
          list-style: none;
        }

        &:nth-of-type(1) {
          ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            li {
              box-sizing: border-box;
              flex: 0 0 100%;
              width: 100%;
              display: flex;
              align-items: center;
              margin: 20px 0;

              @media (min-width: 1200px) {
                flex: 0 0 50%;
                width: 50%;

                &:nth-child(1) {
                  order: 1;
                  padding-right: 20px;
                }

                &:nth-child(2) {
                  order: 3;
                  padding-right: 20px;
                }

                &:nth-child(3) {
                  order: 2;
                  padding-left: 20px;
                }

                &:nth-child(4) {
                  order: 3;
                  padding-left: 20px;
                }
              }

              @media (min-width: 400px) {
                &:before {
                  content: '';
                  margin-right: 20px;
                  flex: 0 0 52px;
                  width: 52px;
                  height: 52px;
                  background-image: url("~@/assets/images/aboutus_sprite.png");
                  background-repeat: no-repeat;
                }

                &:nth-child(1) {
                  &:before {
                    background-position: 0 0;
                  }
                }

                &:nth-child(2) {
                  &:before {
                    background-position: -65px -4px;
                  }
                }

                &:nth-child(3) {
                  &:before {
                    background-position: -191px -6px;
                  }
                }

                &:nth-child(4) {
                  &:before {
                    background-position: -130px -8px;
                  }
                }
              }
            }
          }
        }

        &:nth-of-type(3) {
          ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            li {
              box-sizing: border-box;
              flex: 0 0 100%;
              width: 100%;
              display: flex;
              align-items: center;
              border: 1px solid $gray-color;
              padding: 20px;

              @media (min-width: 1200px) {
                flex: 0 0 33.3333%;
                width: 33.3333%;
                justify-content: center;
              }

              &:before {
                content: '';
                margin-right: 20px;
                flex: 0 0 42px;
                width: 42px;
                height: 42px;
                background-image: url("~@/assets/images/aboutus_sprite.png");
                background-repeat: no-repeat;
              }

              &:nth-child(1) {
                &:before {
                  background-position: 0 -68px;
                }
              }

              &:nth-child(2) {
                @media (max-width: 1199px) {
                  border-top: 0;
                }

                @media (min-width: 1200px) {
                  border-left: 0;
                }

                &:before {
                  background-position: -48px -68px;
                }
              }

              &:nth-child(3) {
                @media (max-width: 1199px) {
                  border-top: 0;
                }

                @media (min-width: 1200px) {
                  border-left: 0;
                }

                &:before {
                  background-position: -90px -67px;
                }
              }
            }
          }
        }

        &:nth-of-type(4) {
          @media (min-width: 1200px) {
            h2 {
              display: none;
            }
          }

          ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            @media (min-width: 1200px) {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              align-items: start;
              flex-wrap: wrap;
            }

            li {
              flex: 0 0 100%;
              width: 100%;
              display: flex;
              align-items: start;
              margin: 10px 0;

              @media (min-width: 1200px) {
                margin: 0 0 10px;
                line-height: 32px;
              }

              &:before {
                content: '';
                margin: 3px 10px 0 0;
                flex: 0 0 24px;
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                background-position: center center;
              }

              &:nth-child(1) {
                &:before {
                  background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fas" data-icon="clock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-clock fa-w-16 fa-2x"><path fill="#{$accent-color}" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm57.1 350.1L224.9 294c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h48c6.6 0 12 5.4 12 12v137.7l63.5 46.2c5.4 3.9 6.5 11.4 2.6 16.8l-28.2 38.8c-3.9 5.3-11.4 6.5-16.8 2.6z" class=""></path></svg>');
                }

                @media (min-width: 1200px) {
                  grid-row: 1 / 3;
                }
              }

              &:nth-child(2) {
                &:before {
                  background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-2x"><path fill="#{$accent-color}" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg>');
                }

                @media (min-width: 1200px) {
                  grid-row: 1 / 3;
                }
              }

              &:nth-child(3) {
                &:before {
                  background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fas" data-icon="phone" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-phone fa-w-16 fa-2x"><path fill="#{$accent-color}" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z" class=""></path></svg>');
                }

                @media (min-width: 1200px) {
                  margin: 0;
                }
              }

              &:nth-child(4) {
                &:before {
                  background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fas" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-envelope fa-w-16 fa-2x"><path fill="#{$accent-color}" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z" class=""></path></svg>');
                }
              }
            }
          }
        }
      }
    }
  }
}
