// Colors
$primary-color: #1E6AB8;
$primary-color-opacity: unquote('#1E6AB8D3');
$light-primary-color: #CFE0F2;
$dark-primary-color: #3D5A76;
$accent-color: #E1C653;
$text-color: #585858;
$border-color: #7491AD;
$gray-color: #EDEDED;
$dark-gray-color: #AEAEAE;
$white-color: #FFFFFF;
$white-color-opacity: unquote('#FFFFFFEE');
$black-color: #000000;
$bars-color: #f3f9ff;
$black-color-opacity: unquote('#00000035');
$footer-color-opacity: unquote('#295785EE');
$aside-background-color: #FBFBFB;
$aside-border-color: #EBEBEB;
