// Colors
$primary-color: #1E6AB8;
$primary-color-opacity: unquote('#1E6AB8D3');
$light-primary-color: #CFE0F2;
$dark-primary-color: #3D5A76;
$accent-color: #E1C653;
$text-color: #585858;
$button-text-color: #7491AD;
$button-hover-color: #C1A52F;
$gray-color: #EDEDED;
$dark-gray-color: #AEAEAE;
$social-icon-color: #CCCCCC;
$social-icon-color-hover: #AAAAAA;
$white-color: #FFFFFF;
$white-color-opacity: unquote('#FFFFFFEE');
$black-color: #000000;
$bars-color: #F3F9FF;
$more-section-shadow-color-opacity: unquote('#00000033');
$article-shadow-color-opacity:  unquote('#00000019');
$article-color: #517495;
$footer-color: #9FC5EC;
$footer-background-color-opacity: unquote('#124578E6');
$aside-background-color: #FBFBFB;
$aside-border-color: #EBEBEB;
